.body {
    margin: 0;
    padding: 0;
    background-image: url("background.png");
}

.container-background {
    font-family: 'Roboto', sans-serif;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    width: 100%;
    min-height: 820px;
    margin: 0 auto;
    box-sizing: border-box;
    font-weight: bold;
}

.main-screen-wrapper {
    padding: 130px 0 0 102px;
}

.main-screen-wrapper::before {
    content: "";
    background-image: url("card_back.png");
    position: absolute;
    top: 450px;
    right: 158px;
    width: 218px;
    height: 341px;
    transform: rotate(40deg);
    z-index: 1;
    border-radius: 9px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.main-screen-wrapper::after {
    content: "";
    background-image: url("card_back.png");
    position: absolute;
    top: 430px;
    right: 338px;
    width: 218px;
    height: 341px;
    transform: rotate(12deg);
    border-radius: 9px;
    box-shadow: -2px 0px 1px rgba(0, 0, 0, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
    margin-bottom: 60px;
    padding-right: 30px;
}

.header__title {
    font-size: 57px;
    margin: 0 0 7px 0;
    line-height: 67px;
}

.header__text {
    font-size: 19px;
    line-height: 22px;
    margin: 0;
}

.text-normal {
    font-weight: normal;
}

.menu {
    list-style: none;
    margin-bottom: 112px;
    padding-left: 0px;
}

.menu__item {
    display: block;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 50px;
    line-height: 59px;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    padding-left: 48px;
    outline-style: none;
}

.menu__item:hover {
    color: #D62B2E;
    opacity: 85%;
    cursor: pointer;
}

.checked::before {
    content: "";
    background-color: #D62B2E;
    position: absolute;
    top: 22px;
    left: 5px;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
}

.button-start {
    font-size: 32px;
    line-height: 37px;
    color: #fff;
    width: 352px;
    height: 95px;
    background-color: #D62B2E;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-width: 0;
    outline-style: none;
}

.button-start:hover {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.button-start:active {
    background-color: rgb(131, 36, 38);
}

.container-for-cards {
    margin: 0 auto;
    width: 100%;
    perspective: 1000px;
    display: flex;
    justify-content: center;
}

.inner-container-for-cards {
    padding-left: 25px;
}

.centeredFor3 {
    padding-top: 320px;
}

.centeredFor6 {
    padding-top: 100px;
    max-width: 730px;
}

.centeredFor10 {
    padding-top: 100px;
    max-width: 1210px;
}

.card {
    display: inline-block;
    width: 218px;
    height: 342px;
    background: transparent;
    margin: 0 24px 24px 0;
    transition: 1s ease;
}

.class-for-hover:hover {
    transform: rotate(-3deg) translateY(-30px);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    transition: .5s ease-in-out;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.transform {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.img-value,
.img-front {
    max-width: 102.5%;
}

@media only screen and (max-width: 1070px) {
    .main-screen-wrapper::before,
    .main-screen-wrapper::after {
        display: none;
    }
}

@media only screen and (max-width: 1230px) {

    .centeredFor10 {
        padding-top: 150px;
        max-width: 950px;
    }

    .centeredFor6 {
        max-width: 600px;
    }

    .card {
        width: 164px;
        height: 258px;
    }

    .img-value {
        max-width: 101.2%;
    }
    .img-front {
        max-width: 102.5%;
    }
}

@media only screen and (max-width: 975px) {

    .centeredFor10 {
        padding-top: 170px;
        max-width: 750px;
    }

    .centeredFor6 {
        padding-top: 200px;
        max-width: 450px;
    }

    .card {
        width: 123px;
        height: 192px;
    }

    .img-value {
        max-width: 100.0%;
    }
    .img-front {
        max-width: 101.0%;
    }
}

@media only screen and (max-width: 765px) {

    .centeredFor10 {
        padding-top: 150px;
        max-width: 600px;
    }
    .centeredFor6 {
        padding-top: 200px;
        max-width: 350px;
    }
    .card {
        width: 93px;
        height: 144px;
        margin: 0 18px 18px 0;
    }
}

@media only screen and (max-width: 466px) {

    .main-screen-wrapper {
        padding: 40px 0 0 30px;
    }

    .header__title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .header__text {
        padding-right: 19px;
    }
    .menu {
        margin-bottom: 40px;
    }

    .menu__item {
        font-size: 35px;
        line-height: 30px;
    }

    .button-start {
        font-size: 32px;
        line-height: 37px;
        width: 250px;
        height: 70px;
    }

    .checked::before {
        top: 10px;
    }
    .centeredFor10 {
        padding-top: 150px;
        max-width: 375px;
    }

    .centeredFor6 {
        padding-top: 200px;
        max-width: 280px;
    }

    .centeredFor3 {
        padding-top: 200px;
        max-width: 280px;
    }
    .card {
        width: 70px;
        height: 108px;
        margin: 0 15px 15px 0;
    }
}
